.wrapper {
  @media (max-width: 850px) {
    width: 100%;
    height: auto;
    overflow: scroll;
  }
}

.statsTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
  line-height: 1.1;

  @media (max-width: 1000px) {
    font-size: 14px;
  }

  @media (max-width: 850px) {
    width: 820px;
  }

  @media (max-width: 700px) {
    width: 670px;
    font-size: 10px;
  }

  caption {
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    padding: 20px 0;

    @media (max-width: 850px) {
      font-size: 20px;
      padding: 10px 0;
    }

    @media (max-width: 500px) {
      font-size: 16px;
    }
  }

  &__type {
  }
  &__row {
  }

  th,
  td {
    border: 1px solid white;
    padding: 10px 2px;
    letter-spacing: 1px;

    @media (max-width: 1000px) {
      padding: 5px 2px;
    }

    a {
      font-weight: bold;
      text-decoration: underline;
      color: #fff;
    }
  }

  td {
    text-align: center;
  }
}
