.main {
  background: linear-gradient(220.16deg, #0a203e -8%, #7e9cc2 138%);
  flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 20px 0;

  @media (max-width: 1230px) {
    padding: 20px 15px;
    max-width: 100%;
  }
}
