$black: rgba(0, 0, 0, 0.8);

.wrapper {
  display: flex;
  flex-direction: column;
  color: white;
}

.select {
  font-size: 24px;
  padding: 5px;
  background-color: grey;
  border-radius: 5px;
  border: 1px grey solid;

  &__option {
  }
}
