%item {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  height: 100%;
  color: white;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -3px;
    height: 3px;
    background-color: white;
  }
}

.nav {
  justify-self: center;
  height: 100%;

  &__list {
    display: flex;
    gap: 50px;
    height: 100%;
  }

  &__item {
    @extend %item;

    &::after {
      width: 0;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__item_active {
    @extend %item;

    &::after {
      width: 100%;
    }
  }
}
