.wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.select {
  font-size: 24px;
  padding: 5px;
  background-color: grey;
  border-radius: 5px;
  border: 1px grey solid;
  color: white;

  &__option {
  }
}

.player {
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-rows: 240px;
  gap: 20px;
  align-items: center;
  color: white;

  &__logo_wrapper {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      -webkit-box-shadow: 0px 0px 20px 22px rgba(255, 255, 255, 0.2);
      -moz-box-shadow: 0px 0px 20px 22px rgba(255, 255, 255, 0.2);
      box-shadow: 0px 0px 20px 22px rgba(255, 255, 255, 0.2);
      transition: 0.4s;
      padding: 2px;
    }

    img {
      width: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__name {
    font-size: 50px;
    color: white;
  }

  &__text {
    font-size: 25px;
    color: white;
  }
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__average {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__detailed {
    background-color: grey;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &_head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 24px;
      border: 1px grey solid;
      color: white;
      cursor: pointer;
      font-size: 30px;
    }
  }
}

.averageTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;

  caption {
    padding: 0 0 20px 0;
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }

  th,
  td {
    border: 1px solid white;
    padding: 10px 2px;
    letter-spacing: 1px;

    &:nth-of-type(2) {
      width: 50px;
    }
  }

  td {
    text-align: center;
  }
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  z-index: 1;

  &.active {
    top: 0;
  }

  &__wrapper {
    width: 90%;
    max-height: 90%;
    border-radius: 5px;
    background-color: grey;
    padding: 20px;
    overflow: auto;
    position: relative;

    h2 {
      font-size: 30px;
      text-align: center;
      padding-bottom: 20px;
    }
  }

  &__close {
    width: 30px;
    position: absolute;
    // top: -25px;
    z-index: 2;
    right: -25px;
    background-color: #fff;

    img {
      width: 100%;
    }
  }
}

.statsTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;

  &__type {
  }
  &__row {
  }

  th,
  td {
    border: 1px solid white;
    padding: 10px 2px;
    letter-spacing: 1px;

    a {
      font-weight: bold;
      text-decoration: underline;
      color: #fff;
    }

    &:nth-of-type(2) {
      width: 50px;
    }
  }

  td {
    text-align: center;
  }
}

.wrong {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/4;

  &__title {
    font-size: 30px;
    font-weight: 700;
  }
}
