.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}

.back {
  width: 25px;
  img {
    width: 100%;
  }
}

.select {
  font-size: 24px;
  padding: 5px;
  background-color: grey;
  border-radius: 5px;
  border: 1px grey solid;
  &__option {
  }
}

.team {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__logo_wrapper {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
  }

  &__logo {
    width: 100%;
  }

  &__name {
    font-size: 30px;
  }
}

.stat {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  &__digit {
    font-size: 20px;
  }

  &__wrong {
    font-size: 40px;
    text-align: center;
  }
}
